<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>702832973350-0s560ph506hudvdrh5ufn7s34l47kcqv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.702832973350-0s560ph506hudvdrh5ufn7s34l47kcqv</string>
	<key>API_KEY</key>
	<string>AIzaSyCpnU_5sW4Yzhg05sQvJJ5n-IKLfaEPP_0</string>
	<key>GCM_SENDER_ID</key>
	<string>702832973350</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.leetcodeclone</string>
	<key>PROJECT_ID</key>
	<string>leetcode-94c79</string>
	<key>STORAGE_BUCKET</key>
	<string>leetcode-94c79.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:702832973350:ios:6119e09b5fa1ad44b478e7</string>
</dict>
</plist>